.section-title {
    margin-bottom: 20px;
  }
  
  .table {
    margin-top: 30px;
  }
  
  .table th,
  .table td {
    text-align: center;
  }
  
  .table thead th {
    font-weight: bold;
  }
  
  .table tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #e0e0e0;
  }
  
  .table tbody td:last-child {
    font-weight: bold;
  }
  
  .table tbody .selected {
    color: green;
  }
  
  .table tbody .not-selected {
    color: red;
  }
  