.result {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  
    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 20px;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      background: linear-gradient(135deg, #f0f0f0, #c9c8c8);

  
      th, td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
      }
  
      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }
  
      tbody tr:hover {
        background-color: #f2f2f2;
      }
  
      th:last-child, td:last-child {
        position: relative;
      }
  
      button {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;
        color: #007bff;
  
        &:hover {
          color: #0056b3;
        }
      }
    }
  }
  